pipeline/Child_ExcelToStage.json
{
	"name": "Child_ExcelToStage",
	"properties": {
		"activities": [
			{
				"name": "Get List of Filenames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT [FileName], Value as SheetName FROM [ADF].[RawConfig]\nWHERE FileType = 'Excel'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Filename",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get List of Filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List of Filenames').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Excel Raw to DataLake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Excel",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										},
										"SheetName": {
											"value": "@item().SheetName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_comma_DL",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "CSV DataLake to Stage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Truncate Table",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "CreatedAt",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(substring(utcnow(),0 ,4 ),\n'/',\nsubstring(utcnow(),5 ,2 ),\n'/',\nsubstring(utcnow(),8 ,2 )\n)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(substring(item().Filename,0,sub(length(item().Filename),3)),'csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_comma_DL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "GenericTable",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "Staging",
										"TableName": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Truncate Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Excel Raw to DataLake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Staging].[sp_TruncateTable]",
								"storedProcedureParameters": {
									"SchemaName": {
										"value": "Staging"
									},
									"TableName": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DSProjectDB_ls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set TableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@substring(item().Filename,0,sub(length(item().Filename),4))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}