ADFDSProject2/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFDSProject2"
		},
		"BlobStorageCSV_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobStorageCSV'"
		},
		"DSProjectDB_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DSProjectDB_ls'"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"SqlServer_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_ls'"
		},
		"RestServiceFX_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestServiceFX'"
		},
		"HttpServerFX_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HttpServerFX'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dsproject.dfs.core.windows.net/"
		},
		"RestServiceFX_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.apilayer.com/currency_data"
		},
		"RestServiceFX_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "graciechan@gmail.com"
		},
		"HttpServerFX_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.apilayer.com/currency_data"
		},
		"HttpServerFX_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "graciechan@gmail.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0,
							"cleanup": true
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageCSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobStorageCSV_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSProjectDB_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DSProjectDB_ls_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_ls_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceFX')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceFX_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestServiceFX_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestServiceFX_password')]"
					},
					"authHeaders": {
						"apikey": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServerFX')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServerFX_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('HttpServerFX_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HttpServerFX_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageCSV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CSVs",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenericTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DSProjectDB_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SchemaName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "TaxType",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "TaxRate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TaxBracketStartAmount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxBracketEndAmount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreatedAt",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": {
						"value": "Stage",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DSProjectDB_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_comma_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(substring(utcnow(),0 ,4 ),\n'/',\nsubstring(utcnow(),5 ,2 ),\n'/',\nsubstring(utcnow(),8 ,2 )\n)",
							"type": "Expression"
						},
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "'"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "col1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "col2",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "Test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageCSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"SheetName": {
						"type": "string"
					},
					"Range": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "Excel",
						"container": "raw"
					},
					"sheetIndex": 0,
					"range": {
						"value": "@dataset().Range",
						"type": "Expression"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVcommaDL_ForExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(substring(utcnow(),0 ,4 ),\n'/',\nsubstring(utcnow(),5 ,2 ),\n'/',\nsubstring(utcnow(),8 ,2 )\n)",
							"type": "Expression"
						},
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "'"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceFX",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "change?start_date=2022-06-23&end_date=2022-06-23",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceFX')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonFXBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageCSV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "ExchangeRates",
							"type": "Expression"
						},
						"folderPath": "JSON",
						"container": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServerFX",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Date": {
						"type": "string",
						"defaultValue": "2022-06-23"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat('change?start_date=',dataset().Date,'&end_date=',dataset().Date)",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServerFX')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVcommaDL_ForJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "JSON",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Child_CSVCommaToStage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List of Filenames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT [FileName] FROM [ADF].[RawConfig]\nWHERE FileType = 'csv'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Filename",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get List of Filenames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get List of Filenames').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CSV Raw to DataLake",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set TableName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "CSVs",
												"wildcardFileName": {
													"value": "@item().Filename",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CSV_comma_DL",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "CSV DataLake to Stage",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Truncate Table",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "CreatedAt",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@concat(substring(utcnow(),0 ,4 ),\n'/',\nsubstring(utcnow(),5 ,2 ),\n'/',\nsubstring(utcnow(),8 ,2 )\n)",
													"type": "Expression"
												},
												"wildcardFileName": {
													"value": "@concat(substring(item().Filename,0,sub(length(item().Filename),3)),'csv')",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CSV_comma_DL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericTable",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "Staging",
												"TableName": {
													"value": "@variables('TableName')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Truncate Table",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CSV Raw to DataLake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Staging].[sp_TruncateTable]",
										"storedProcedureParameters": {
											"SchemaName": {
												"value": "Staging"
											},
											"TableName": {
												"value": {
													"value": "@variables('TableName')",
													"type": "Expression"
												}
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DSProjectDB_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set TableName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TableName",
										"value": {
											"value": "@substring(item().Filename,0,sub(length(item().Filename),4))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"TableName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable')]",
				"[concat(variables('factoryId'), '/datasets/CSV')]",
				"[concat(variables('factoryId'), '/datasets/CSV_comma_DL')]",
				"[concat(variables('factoryId'), '/datasets/GenericTable')]",
				"[concat(variables('factoryId'), '/linkedServices/DSProjectDB_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Excel Raw to DataLake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['start_date']"
										},
										"sink": {
											"name": "start_date"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAED']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAED_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAFN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAFN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDALL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDALL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAMD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAMD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDANG']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDANG_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAOA']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAOA_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDARS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDARS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAUD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAUD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAWG']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAWG_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDAZN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDAZN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBAM']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBAM_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBBD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBBD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBDT']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBDT_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBGN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBGN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBHD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBHD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBIF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBIF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBMD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBMD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBND']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBND_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBOB']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBOB_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBRL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBRL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBSD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBSD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBTC']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBTC_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBTN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBTN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBWP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBWP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBYN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBYN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBYR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBYR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDBZD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDBZD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCAD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCAD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCDF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCDF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCHF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCHF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCLF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCLF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCLP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCLP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCNY']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCNY_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCOP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCOP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCRC']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCRC_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCUC']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCUC_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCUP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCUP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCVE']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCVE_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDCZK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDCZK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDDJF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDDJF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDDKK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDDKK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDDOP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDDOP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDDZD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDDZD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDEGP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDEGP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDERN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDERN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDETB']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDETB_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDEUR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDEUR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDFJD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDFJD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDFKP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDFKP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGBP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGBP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGEL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGEL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGGP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGGP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGHS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGHS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGIP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGIP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGMD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGMD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGNF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGNF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGTQ']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGTQ_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDGYD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDGYD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDHKD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDHKD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDHNL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDHNL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDHRK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDHRK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDHTG']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDHTG_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDHUF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDHUF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDIDR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDIDR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDILS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDILS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDIMP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDIMP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDINR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDINR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDIQD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDIQD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDIRR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDIRR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDISK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDISK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDJEP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDJEP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDJMD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDJMD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDJOD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDJOD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDJPY']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDJPY_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKES']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKES_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKGS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKGS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKHR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKHR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKMF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKMF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKPW']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKPW_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKRW']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKRW_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKWD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKWD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKYD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKYD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDKZT']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDKZT_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLAK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLAK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLBP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLBP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLKR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLKR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLRD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLRD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLSL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLSL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLTL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLTL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLVL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLVL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDLYD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDLYD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMAD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMAD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMDL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMDL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMGA']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMGA_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMKD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMKD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMMK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMMK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMNT']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMNT_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMOP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMOP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMRO']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMRO_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMUR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMUR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMVR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMVR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMWK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMWK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMXN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMXN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMYR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMYR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDMZN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDMZN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDNAD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDNAD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDNGN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDNGN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDNIO']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDNIO_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDNOK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDNOK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDNPR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDNPR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDNZD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDNZD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDOMR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDOMR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPAB']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPAB_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPEN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPEN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPGK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPGK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPHP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPHP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPKR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPKR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPLN']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPLN_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDPYG']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDPYG_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDQAR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDQAR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDRON']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDRON_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDRSD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDRSD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDRUB']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDRUB_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDRWF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDRWF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSAR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSAR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSBD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSBD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSCR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSCR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSDG']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSDG_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSEK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSEK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSGD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSGD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSHP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSHP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSLL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSLL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSOS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSOS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSRD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSRD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSTD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSTD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSVC']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSVC_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSYP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSYP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDSZL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDSZL_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTHB']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTHB_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTJS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTJS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTMT']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTMT_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTND']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTND_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTOP']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTOP_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTRY']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTRY_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTTD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTTD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTWD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTWD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDTZS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDTZS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDUAH']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDUAH_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDUGX']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDUGX_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDUSD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDUSD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDUYU']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDUYU_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDUZS']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDUZS_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDVEF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDVEF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDVND']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDVND_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDVUV']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDVUV_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDWST']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDWST_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXAF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXAF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXAG']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXAG_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXAU']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXAU_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXCD']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXCD_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXDR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXDR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXOF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXOF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDXPF']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDXPF_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDYER']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDYER_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDZAR']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDZAR_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDZMK']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDZMK_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDZMW']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDZMW_start_rate"
										}
									},
									{
										"source": {
											"path": "$['quotes']['USDZWL']['start_rate']"
										},
										"sink": {
											"name": "quotes_USDZWL_start_rate"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "JsonFXBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSVcommaDL_ForJSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"TableName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JsonFXBlob')]",
				"[concat(variables('factoryId'), '/datasets/CSVcommaDL_ForJSON')]"
			]
		}
	]
}